body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left; /* Align form elements to the left */
}

label {
    display: block;
    text-align: left;
    color: lightgray;
    margin-bottom: 5px;
}

.input {
    width: calc(100% - 24px); /* Adjusted width to remove the little box effect */
    border: 2px solid aliceblue;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: #444;
    color: white;
}

.submit-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.submit-button:hover {
    background-color: #45a049;
    box-shadow: 0 0 10px 3px rgba(0, 255, 0, 0.5);
}
/* 
.forgot-password {
    text-decoration: none;
    color: lightgray;
    transition: color 0.3s ease;
}

.forgot-password:hover {
    color: #FFFFFF;
} */
